* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
	display: grid;
	grid-template-columns: 20rem auto;
	text-align: left;
	margin: auto;
	padding: 3rem;
	height: 100vh;
}
.ticket-card {
	margin-top: 0;
	margin-bottom: 20px;
}
.btn2 {
	background-color: grey;
	color: white;
	margin: 15px auto;
	display: flex;
	text-align: center;
}
.container-card {
	margin: 0;
	padding: 0;
}
.header {
	background: rgb(37, 133, 202);
	border: none;
	color: white;
	display: flex;
	justify-content: space-between;
}
.right-text {
	display: flex;
	text-align: right;
	flex-direction: column;
	font-size: 0.7rem;
}
#amount {
	font-size: 1rem;
	margin: 0;
}

.logo-container {
	display: flex;

	/*align-items: left;*/
	width: 30px;
	height: 30px;
	color: #fff;
}
.logo {
	color: #fff;
}

#form {
	background-color: rgb(37, 133, 202);
	height: 50%;
	width: 70%;
	margin: auto;
	padding: 20px;
	text-align: center;
	justify-content: center;
	border-radius: 10px;
}

#form h3 {
	border-bottom: 2px solid #f78930;
	width: 50%;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
}
::placeholder {
	color: #fff;
}
#input #input-group {
	width: 300px;
	margin: 5px;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	background: transparent;
	color: #fff;
}
#input2 #input-group {
	width: 195px;
	margin: 5px;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	background: transparent;
	color: #fff;
}
#input3 #input-group {
	margin-left: 50px;
}
#input4 #input-group {
	width: 300px;
	margin: 5px;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	background: transparent;
	color: #fff;
}
#input4 #input-group1 {
	width: 615px;
	margin: 5px;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	background: transparent;
	color: #fff;
}

.link {
	text-decoration: none;
	color: white;
}
